In [1]:
# Dependencies
import pandas as pd

In [2]:
# Save file path to variable
filepath='Resources/census_data_2016-2019.csv'

In [3]:
# Read with Pandas
df=pd.read_csv(filepath)
df.head()

,Year,County,State,Population,Median Age,Household Income,Per Capita Income,Employed Civilians,Unemployed Civilians,People in the Military,Poverty Count
0,2016,Autauga County,Alabama,55049,37.8,53099.0,26168.0,24262.0,1437.0,309.0,6697.0
1,2016,Baldwin County,Alabama,199510,42.3,51365.0,28069.0,87753.0,5887.0,232.0,25551.0
2,2016,Barbour County,Alabama,26614,38.7,33956.0,17249.0,8993.0,1323.0,0.0,6235.0
3,2016,Bibb County,Alabama,22572,40.2,39776.0,18988.0,8354.0,643.0,5.0,3390.0
4,2016,Blount County,Alabama,57704,40.8,46212.0,21033.0,21593.0,1367.0,9.0,9441.0

In [4]:
# Create a DataFrame with columns to total: Year, County, State, Population, 
# Employed Civilians, Unemployed Civilians, People in the Military, Poverty Count
df.columns

Index(['Year', 'County', 'State', 'Population', 'Median Age',
       'Household Income', 'Per Capita Income', 'Employed Civilians',
       'Unemployed Civilians', 'People in the Military', 'Poverty Count'],
      dtype='object')

In [5]:
new_df=df[['Year', 'County', 'State', 'Population','Employed Civilians',
       'Unemployed Civilians', 'People in the Military', 'Poverty Count']]
new_df.head()

,Year,County,State,Population,Employed Civilians,Unemployed Civilians,People in the Military,Poverty Count
0,2016,Autauga County,Alabama,55049,24262.0,1437.0,309.0,6697.0
1,2016,Baldwin County,Alabama,199510,87753.0,5887.0,232.0,25551.0
2,2016,Barbour County,Alabama,26614,8993.0,1323.0,0.0,6235.0
3,2016,Bibb County,Alabama,22572,8354.0,643.0,5.0,3390.0
4,2016,Blount County,Alabama,57704,21593.0,1367.0,9.0,9441.0

In [13]:
# Create a dataframe of the totals for each state by year.
newdataframe=new_df.groupby(["Year","State"]).sum()
newdataframe

                    Population  Employed Civilians  Unemployed Civilians  \
Year State
2016 Alabama           4841164           2042025.0              184479.0
     Alaska             736855            353954.0               30139.0
     Arizona           6728577           2879372.0              249972.0
     Arkansas          2968472           1266552.0               93190.0
     California       38654206          17577142.0             1683726.0
...                        ...                 ...                   ...
2019 Virginia          8454463           4156018.0              200850.0
     Washington        7404107           3594279.0              187330.0
     West Virginia     1817305            740910.0               51910.0
     Wisconsin         5790716           2982359.0              111564.0
     Wyoming            581024            288503.0               13544.0

                    People in the Military  Poverty Count
Year State
2016 Alabama                       12150.0       868666.0
     Alaska                        16382.0        72826.0
     Arizona                       17373.0      1165636.0
     Arkansas                       4445.0       542431.0
     California                   130452.0      6004257.0
...                                    ...            ...
2019 Virginia                     120385.0       865691.0
     Washington                    52871.0       785244.0
     West Virginia                  1306.0       310044.0
     Wisconsin                      3190.0       639160.0
     Wyoming                        2957.0        62257.0

[208 rows x 5 columns]

In [ ]:
# Rename columns to make them more understandable

In [ ]:
# Create a DataFrame with columns to average: Year, County, State, Median Age, 
# Household Income, Per Capita Income

In [ ]:
# Create a dataframe of the averages for each state by year.

In [ ]:
# Rename columns to make them more understandable

In [ ]:
# Export the DataFrames to CSV